.devcontainer/**
.github/**
.gitignore
.vscode-test/**
.vscode/**
**/.prettierrc
**/*.ts
**/tests/**
**/tsconfig.json
.env
workspaces/
docs/**
node_modules/**
package-lock.json
site/**
**prettier**
.cookies
**mkdocs**
